.checkoutProduct {
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.checkoutProduct__info {
    width: 100%;
    display: flex;
    padding-left: 20px;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 50px;
   margin-right: 10px;

}

.checkoutProduct__button
{
    width: 15%;
}
.checkoutProduct__info > button {
    background: white;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 150px;
  }


.checkoutProduct__title {
    font-size: 17px;
    font-weight: 300;
}




.checkoutProduct__description{
    text-align: center;
    width:70%;
}

.checkoutProduct__price
{
    width: 15%;
    text-align: right;
}