
  .checkout {
    display: flex;
    margin-bottom: 142px;
    display: inline-block;
    height: max-content;
    width: 100%;
  }
  
  .checkout__title {
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
    font-weight: 400;
  }
  
  .checkout__content {
    margin-top: 40px;
    margin-left: 100px;
    border-bottom: 1px solid lightgray;
  }


  .checkout__products__list {
    margin-top: 10px;
    margin-left: 100px;
  }